*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
input{
    font-family: ubuntu, sans-serif;
}
body{
    overflow-x: hidden;
    width: 100%;
    font-family: ubuntu, sans-serif;
    display: flex;
    background: #ced9dd;
}
.all{
    width: 400px;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.input-table{
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
}
.input-table label{
    width: 100%;
    display: flex;
}
.input-table p{color: red;}
.input-table input{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 10px;
    transition: .3s;
    border: none;
    margin-top: 5px;
    border-bottom: solid 4px #a0a0a0;
    box-shadow: 2px 2px 8px #00000040;
}
.input-table input:focus{
    padding: 0 20px;
    transition: .3s;
    border-bottom: solid 4px #1e90ff;
}
.all button{
    padding: 13px 60px;
    margin: 10px auto;
    border: solid 2px #1e90ff;
    border-radius: 30px;
    transition: .3s;
    outline: none;
    font-weight: 600;
}
.all button:hover{
    background: #1e90ff;
    transition: .3s;
    color: aliceblue;
}


#moyAnn , #moyClass{
    margin: 10px 0;
    height: 50px;
    display: flex;
    color: aliceblue;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background-color: #008a9c;
    border-bottom: solid 4px aliceblue;
    transition: .3s;
}

@media only screen and (max-width: 768px) {
      .all{
          width: 95%;
      } 
}

